@{
  Layout = "_layout";
}

<form action="/vendors" method="post">
  <label for="name"></label>
  <input type="text" id="name" value="Maries Flour" name="name">

  <label for="vendordescription"></label>
  <input type="text" id="vendordescription"
    value="Marie started Maries flour in the basement of her family home in 1938..." name="vendordescription">

  <button type="submit">Add this vendor</button>
</form>