@{
  Layout = "_layout";
}

<form action="/vendors" method="post">
  <label for="name"></label>
  <input type="text" id="name" value="Maries Flour" name="name">

  @* <label for="description"></label>
    <input type="text" id="description" value="The best flour in the business." name="description">

    <label for="contact"></label>
    <input type="text" id="contact" value="503-523-4343" name="contact"> *@

  <button type="submit">Add this vendor</button>
</form>